#search-boxWrap {
  margin-top: 40px;
}

.mr-sm-2 {
  width: 20px;
  margin-left: 260px;
}

.form-control {
  margin-top: 15px;
}

.input-group-text {
  margin-top: 15px;
}

.searchBox {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  margin-top: auto;
  height: 2.5rem;
  width: 60%;
  margin-top: 1.5rem;
}

.searchIcon {
  cursor: pointer;
}
