$primary-color: #2c3e50;
$secondary-color: #8e44ad;
$alert-color: #e74c3c;
$success-color: #27ae60;
$warning-color: #f1c40f;
$dark-cyan-backgorund-color: #00524b;
$light-cyan-background-color: #49bdb4;