@import "~bootstrap/scss/bootstrap";

* {
  margin: 0px;
}

body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-content {
  margin-top: 3.5rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  margin-top: 3.5rem;
}

// Disabled spinner for Number input field
/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
