.registerContainer {
  width: 100%;
  background-color: #1f1f1f;
  min-width: 30rem;
  min-height: 100vh;
  background-image: url("../../assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: blur(30px);
}

.inputsContainer {
  min-height: 25rem;
  display: flex;
  margin-right: 5%;
  border-radius: 5px;
  box-shadow: 0 5px 15px white;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  padding: 10px;
  width: 25rem;
  border: 2px solid black;
}

.formRegister {
  padding: 10px;
  background-color: #f1f1f1;
  color: white;
  border: none;
  height: 2.5rem;
  width: 5rem;
  margin-bottom: 1rem;
  font-size: larger;
  cursor: pointer;
}

.userroleDropdown {
  margin-bottom: 0.5rem;
  border: 2px solid;
}

.signupForm {
  min-width: 25rem;
}

.signupFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submitButton {
  margin-left: 0;
  width: 130px;
}

.signinLink {
  margin-right: 0;
  font-weight: bold;
}
