:host::ng-deep {
    .p-calendar-w-btn {
        width: 100%;
    }

    .p-inputnumber {
        width: 100%;
        font-size: 0.85rem;
    }

    .p-button {
        border-radius: 0.5rem;
    }

    .p-button-label {
        font-size: 1rem;
        font-weight: 500;
    }
}

.textarea {
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}

.blueThemeColor {
    color: rgba(13, 110, 253, 1);
}